.container {
    margin-top: 20px;
  }
  


  .user-review {
    margin-top: 20px;
  }
  
  .reviews-container {
    margin-top: 20px;
  }
  
  .review-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .reviewer-name {
    font-weight: bold;
  }
  
  .review-content {
    margin-top: 5px;
  }
  
