<p-button (click)="showDialog()"   >Add admin</p-button>
<p-dialog header="add category" [(visible)]="visible" [style]="{width: '50vw'}">
    <form  [formGroup]="registerForm"  (ngSubmit)="addAdmin()" novalidate>
        <div class="row justify-content-center">
            <div class="col-8 p-2">
                <label for="userName">User Name</label>
                <input pInputText 
                    id="userName" 
                    name="userName" 
                    formControlName="userName"
                />
            </div>
        </div>
        @if(registerForm.controls['userName'].invalid && (registerForm.controls['userName'].touched|| registerForm.controls['userName'].dirty)) {
            <div id="userNameHelp" class="form-text text-danger">
              @if(registerForm.controls['userName'].errors?.['required']){
              <small>This field is required</small>
              } @if(registerForm.controls['userName'].errors?.['hasSpace']) {
              <small>Min. length is 5 character</small>
              }
            </div>
            }
        <div class="row justify-content-center">
            <div class="col-8 p-2">
                <label for="firstName">firstName</label>
                <input pInputText 
                    id="firstName" 
                    name="firstName" 
                    formControlName="firstName"
                />
            </div>
        </div>
        @if(registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched|| registerForm.controls['lastName'].dirty)) {
            <div id="firstName" class="form-text text-danger">
              @if(registerForm.controls['firstName'].errors?.['required']){
              <small>This field is required</small>
              } @if(registerForm.controls['firstName'].errors?.['minlength']) {
              <small>Min. length is 5 character</small>
              }
            </div>
            }
            <div class="row justify-content-center">
                <div class="col-8 p-2">
                    <label for="lastName">lastName</label>
                    <input pInputText 
                        id="lastName" 
                        name="lastName" 
                        formControlName="lastName"
                    />
                </div>
            </div>
            @if(registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched|| registerForm.controls['lastName'].dirty)) {
                <div id="lastName" class="form-text text-danger">
                  @if(registerForm.controls['lastName'].errors?.['required']){
                  <small>This field is required</small>
                  } @if(registerForm.controls['lastName'].errors?.['minlength']) {
                  <small>Min. length is 5 character</small>
                  }
                </div>
                }
        <div class="row justify-content-center">
            <div class="col-8 p-2">
                <label for="email">Email</label>
                <input pInputText 
                    id="email" 
                    name="email" 
                    formControlName="email"
                />
            </div>
        </div>
        @if(registerForm.controls['email'].invalid && (registerForm.controls['email'].touched|| registerForm.controls['email'].dirty)) {
            <div id="emailHelp" class="form-text text-danger">
              @if(registerForm.controls['email'].errors?.['required']){
              <small>This field is required</small>
              } @if(registerForm.controls['email'].errors?.['email']) {
              <small>Invalid pattren</small>
              }
            </div>
            }
        <div class="row justify-content-center">
            <div class="col-8 p-2">
                <label for="password">Password</label>
                <p-password 
                    name="password" 
                    formControlName="password"
                    
                ></p-password>

            </div>
        </div>
        @if(registerForm.controls['password'].invalid && (registerForm.controls['password'].touched || registerForm.controls['password'].dirty)) {
            <div id="userNameHelp" class="form-text text-danger">
              @if(registerForm.controls['password'].errors?.['required']){
              <small>This field is required</small>
              } @if(registerForm.controls['password'].errors?.['minlength']) {
              <small>Min. length is 8 character</small>
              }
              @if(registerForm.controls['password'].errors?.['lowerCase']) {
                <small> <br>Must contains at least one lowercase character</small>
                }
                @if(registerForm.controls['password'].errors?.['upperCase']) {
                    <small> <br>Must contains at least one uppercase character</small>
                    }
                    @if(registerForm.controls['password'].errors?.['digit']) {
                        <small> <br>Must contains at least one digit</small>
                        }
                        @if(registerForm.controls['password'].errors?.['specialCharacter']) {
                            <small> <br>Must contains at least one specialCharacter [*&#64;%$#]</small>
                            }
            </div>
            
            }

<div class="card flex justify-content-center">
<label for="photo">Photo</label>
<input type="file" id="photo" name="photo" (change)="onUpload($event)">
<!-- Error handling for photo -->
</div>
        <div class="row justify-content-center">
            <div class="col-8 p-2">
                <p-button type="Submit" label="Submit"></p-button>
            </div>
        </div>
    </form>
</p-dialog>