<div class="container container-centered">
  <div class="row">
    <h2>Bookshelves</h2>
    <div class="col-md-3 sidebar">
      <div class="sidebar-item search">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searched" />
        <button class="btn btn-success" (click)="searchBook()">Search</button>
      </div>

      <div class="sidebar-item">
        <button class="nav-link" (click)="changeStatus('already read')">
          Already Read
        </button>
      </div>
      <div class="sidebar-item">
        <button
          class="nav-link"
          (click)="changeStatus('currently reading')"
        >
          Currently Reading
        </button>
      </div>
      <div class="sidebar-item">
        <button class="nav-link" (click)="changeStatus('wish to read')">
          Wish to Read
        </button>
      </div>
    </div>
    <div class="col-md-9 books-section">
      <div class="row">
        @if(searchedbooks){
          @for (search of searchedbooks; track $index){
            <div class="col-md-3">
               <a (click)="sendUserBook(search?._id)">
                <div class="book-card">
                  <img
                    src="./../../../assets/images/janeEyre.jpg"
                    alt="Book Cover"
                    class="book-cover"
                  />
                   <div class="book-title">{{ search?.name }}</div>
                </div>
              </a> 
            </div>
          }
        }
        @for (userbook of booksData; track $index){
        <div class="col-md-3">
          <a (click)="sendUserBook(userbook.book._id)">
            <div class="book-card">
              <img
                src="./../../../assets/images/janeEyre.jpg"
                alt="Book Cover"
                class="book-cover"
              />
              <div class="book-title">{{ userbook?.book?.name }}</div>
            </div>
          </a>
        </div>
        }

        <mat-paginator [length]="totalItems" [pageSize]="limit" [pageSizeOptions]="[10, 20, 50, 100]" (page)="onPageChange($event.pageIndex + 1)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

