
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.review-container {
    width: 80%;
    max-width: 600px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-container h1 {
    text-align: center;
}

.review-form {
    margin-bottom: 20px;
}

.review-form textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px;
}

.review-form button {
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}