<div class="book-info d-flex flex-column h-100">
  <img
    [src]="'http://localhost:3000/images/profile/' + bookData?.image"
    alt="book Photo"
    class="img-fluid"
  />
  @if(userBookData){
  <p>
    <strong>Status:</strong> <span>{{ selectedOption }}</span>
  </p>
  
  <strong>edit status :</strong>
  <select
    [(ngModel)]="selectedOption"
    (ngModelChange)="onSelectChange($event)"
    class="form-control"
  >
    <option
      [value]="'already read'"
      [selected]="selectedOption === 'already read'"
    >
      Already Read
    </option>
    <option
      [value]="'currently reading'"
      [selected]="selectedOption === 'currently reading'"
    >
      Currently Reading
    </option>
    <option
      [value]="'wish to read'"
      [selected]="selectedOption === 'wish to read'"
    >
      Wish to Read
    </option>
  </select>

  <strong>rate the book :</strong>

  <div class="star-container">
    @for(star of rates; track $index){
    <div>
      <fa-icon
        [icon]="faStar"
        (click)="rate($index + 1)"
        class="star-rating"
        [ngClass]="{ rated: $index < selectedRating }"
      ></fa-icon>
    </div>
    }
  </div>

  <button class="btn btn-danger" (click)="removeUserBook()">remove from your books</button>
}



  @if(!userBookData){
    <button (click)="addtoUserBooks()" class="btn btn-danger">add to your books</button>
  }

  <strong>Category :</strong>
  <a [routerLink]="['categories', category?._id]">{{
    category?.categoryName
  }}</a>
</div>
